body{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}

.header{
    height: 100%;
    width: 100%;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,0.6530987394957983) 47%, rgba(109,39,163,0.6026785714285714) 100%);
    background-size: cover;
    background-position: center;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.main{
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.main .btn{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
}

#founders{
    padding-top: 20px;
    border-top: 1px solid white;
    font-size: 4vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main h1{
    font-family: 'Dancing Script', cursive;
}

.main strong{
    font-family: 'Source Serif Pro', serif;
}

.main .btn:hover{
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
}

@media (max-width: 768px){
    .main{
        width: 70vw;
        padding: 10vw;
    }
}