
.navbar-brand
{
    font-size: 2rem;
}

.carousel-caption
{
    font-family: cursive;
}

.carousel-inner > .carousel-item > img
{
    height: 100vh;
}

.btn-color
{
    background-color: rosybrown;
    color: white;
}

.btn-color:hover
{
    background-color: burlywood;
}

.to-left
{
    left: 25%;
}

#product
{
    padding-top: 50px;
    background-color: #d4d4d4;
}

.prod
{
    border-radius:30px;
    margin:1.33%;
    width: 30%;
}

div h2
{
    background-color: lavender;
    border-radius: 100px;
    font-family: 'Cedarville Cursive', cursive;;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}