
.navbar-brand
{
    font-size: 2rem;
}

.carousel-caption
{
    font-family: cursive;
}

.carousel-inner > .carousel-item > img
{
    height: 100vh;
}

.btn-color
{
    background-color: rosybrown;
    color: white;
}

.btn-color:hover
{
    background-color: burlywood;
}

.to-left
{
    left: 25%;
}

#product
{
    margin: 30px;
    background: linear-gradient(135deg,mistyRose, aliceBlue, hsl(203, 74%, 85%));
    padding-top: 50px;
    background-color: #d4d4d4;
}

.prod
{
    padding: 5px;
    border-radius:0 30px 0 30px;
    margin:1.33%;
    width: 30%;
    box-shadow: 5px 5px 3px black,10px 10px 10px grey;
}

.prod:hover
{
    opacity: 0.7;
}

div h2
{
    color: rgb(133, 43, 133);
    margin-left: 27%;
    box-shadow: 5px 5px 3px grey;
    width:50%;
    background-color: #ffffff;
    border-radius: 100px;
    font-family: 'Courier New';
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

footer
{
    border-top: solid #6c7072 5px ;
    padding: 40px;
    height: 200px;
    background: linear-gradient(135deg,mistyRose, aliceBlue, hsl(203, 74%, 85%));
}

.footer-list
{
    float: right;
}

.footer-list li
{
    list-style: none;
    padding-bottom: 30px;
}

.footer-logo
{
    float: left;
    font-weight: bold;
    font-family:sans-serif;
}