* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

h1 {
    margin: 0;
    font-weight: bold;
}

h2 {
    margin: 15px 0;
    font-weight: bold;
}

p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin: 20px 15px;
}

span {
    font-size: 12px;
    margin: 5px 0;
}

input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    color: #fff;
    background: #02a66a;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    width: 40%;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: transform 60ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.side-btn {
    background: transparent;
    border: 2px solid #fff;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin: 15px 0;
}

a:hover {
    color: #c40000;
    text-decoration: none;
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
}

.container {
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    background: #fff;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.social-media-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-media-container i {
    font-size: 30px;
    margin: 0 10px;
}

.sign-in-container {
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.side-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    z-index: 10;
}

.overlay {
    background-image: url(./Images/leaves.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.side-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    width: 50%;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}

.left-panel {
    transform: translateX(-20%);

}

.right-panel {
    left: 50%;
    transform: translateX(0);
}

/* Animations */

.container.sign-up-active .sign-in-container{
    transform: translateX(100%);
}

.container.sign-up-active .sign-up-container{
    transform: translateX(100%);
    z-index: 6;
    opacity: 1;
}

.container.sign-up-active .side-container{
    transform: translateX(-100%);
}

.container.sign-up-active .overlay {
    transform: translateX(50%);
}

.container.sign-up-active .left-panel {
    transform: translateX(0);
}

.container.sign-up-active .right-panel {
    transform: translateX(20%);
}